<% layout("/layouts/boilerplate") %>

<div class="row mb-5">
    <div class="col-8 offset-2">
        <h3><b>Property Details:</b></h3>
        <div class="card">
        	<img src="<%= listing.image %>" class="card-img-top" alt="Property Image" style="height: 35rem"; />
        	<div class="card-body">
        		<h5 class="card-title mt-3"><b><%= listing.title %></b></h5>
        		<p class="card-text show-description"><%= listing.description %></p>
        	</div>
        	<ul class="list-group list-group-flush">
        		<li class="list-group-item"><b>Amenities:</b> <%= listing.amenities %></li>
        		<li class="list-group-item"><b>Max Guests:</b> <%= listing.maxGuests %></li>
        		<li class="list-group-item"><b>Price:</b> &#8377;<%= listing.price.toLocaleString("en-IN") %> per night</li>
        		<li class="list-group-item"><b>Location:</b> <%= listing.location %></li>
        		<li class="list-group-item"><b>Country:</b> <%= listing.country %></li>
        	</ul>
        	<div class="card-body show-footer">
        		<form
        			action="/listings/<%= listing._id %>/edit"
        			method="GET"
        		>
        			<button class="btn btn-dark mb-3">Edit this Listing</button>
        		</form>
        		<form
        			action="/listings/<%= listing._id %>?_method=DELETE"
        			method="POST"
        			onsubmit="return confirm('Are you sure you want to delete this listing?');"
        		>
        			<button class="btn btn-danger mb-3">Delete this Listing</button>
        		</form>
        	</div>
        </div>
    </div>

</div>
