<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lodgr</title>
</head>
<body>
    <h3>Listing Details:</h3>
    <ul>
        <li>Title: <%= listing.title %></li>
        <li>Description: <%= listing.description %></li>
        <li>Amenities: <%= listing.amenities %></li>
        <li>Max Guests: <%= listing.maxGuests %></li>
        <li>Price: &#8377;<%= listing.price.toLocaleString("en-IN") %></li>
        <li>Location: <%= listing.location %></li>
        <li>Country: <%= listing.country %></li>
    </ul>
    <br>
    <a href="/listings/<%= listing._id %>/edit" method="GET">Edit this Listing</a>
    <br><br>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete this listing?');">
        <button>Delete this Listing</button>
    </form>
</body>
</html>
